params {
    remote_file = "https://raw.githubusercontent.com/daniloimparato/hello/master/data/str.txt"
}

profiles {
    standard {
        docker.enabled = true
        docker.sudo = true
    }
}

workDir = 'gs://nextflow-temp/scratch'

process {
  executor = 'google-batch'
  container = 'docker.io/biocontainers/biocontainers:v1.2.0_cv1'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 1
}

google {
  project = 'bioinfo-dev-248419'
  location = 'us-east1'
  batch.spot = true
}