params {
    remote_file = "https://raw.githubusercontent.com/daniloimparato/hello/master/data/str.txt"
}

profiles {
    standard {
        docker.enabled = true
    }
    
    gbatch_does_not_work {
        workDir = 'gs://bucket-name/scratch'
        process {
            executor = 'google-batch'
            container = 'docker.io/biocontainers/biocontainers:v1.2.0_cv1'
            containerOptions = '-u root:root'
        }
    }
    
    gbatch_works {
        workDir = 'gs://bucket-name/scratch'
        process {
            executor = 'google-batch'
            container = 'docker.io/docker/whalesay:latest'
        }
    }
}

google {
  project = 'project-name'
  location = 'us-east1'
  batch.spot = true
}