// docker.enabled = true
// docker.runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
// docker.fixOwnership = true

google.lifeSciences.sshDaemon = true

profiles {

    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
            }
        }
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}

params {
    remote_file = "https://raw.githubusercontent.com/daniloimparato/hello/master/data/str.txt"
}
